{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ user.username|title }}'s Dashboard</title>
    <meta http-equiv="refresh" content="60">
    
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="page-container">
      <div class="content-wrapper">
        <div class="container">


        <div class="bigblock">
            <h1> {{ user.username|title }}'s Dashboard</h1>
        </div>

        {% if daily_message.enabled %}
        <div class="bigblock">
            <h2> Daily Message </h2>
            <div class="innerBlock">{{ daily_message.text }}
            </div>
        </div>
        {% endif %}



        <div class="block">
            <h2>Points</h2>
            <span class="rainbow-text">{{ points }}</span>
            <a class="innerBlock open-chore-modal" href="{% url 'rewards_list' %}">Browse Rewards</a>
            <a class="innerBlock open-chore-modal" href="{% url 'child_chore' %}">Create a custom chore</a>
        </div>

        <div class="block">
            <h2>
                Available Chores
            </h2>

            {% if chores %}
            {% for chore in chores %}
            {% if chore.id not in claimed_chore_ids %}
            <form method="post" action="{% url 'claim_chore' chore.pk %}" style="display: block;">
                {% csrf_token %}
                <div class="innerBlock" onclick="this.parentElement.submit()">
                    <div class="buttonContainer">
                        <div class="choreLeft">{{ chore.name }}
                            <div class="small-text description">
                                {{ chore.comment }}
                            </div>
                            {% if chore.bonus_active %}
                            <div class="small-text time">
                                Bonus Points Before {{ chore.bonus_end_time }}:00
                            </div>
                            {% endif %}
                        </div>
                        <div class="choreRight">{{ chore.points }}{% if chore.bonus_active %} + {{ chore.bonus_points|floatformat:"-2" }}{% endif %}</div>
                    </div>
                </div>
            </form>
            {% endif %}
            {% endfor %}
            {% endif %}


        </div>

        <div class="block">
            <h2>Claimed Chores</h2>

            {% for cchore in claimed_chores %}
            {% if cchore.approved == 0 %}
            <form method="post" action="{% url 'return_chore' cchore.pk %}" style="display: block;">
                {% csrf_token %}
                <div class="innerBlock" onclick="this.parentElement.submit()">
            {% endif %}
            {% if cchore.approved > 0 %}
            <div class="innerBlock approved">
            {% endif %}
            {% if cchore.approved < 0 %}
            <div class="innerBlock penalised">
            {% endif %}
                <div class="buttonContainer">
                    <div class="choreLeft">{{ cchore.chore_name }} 
                        <div class="small-text description">{{ cchore.comment }}</div>
                    </div>
                    {% if cchore.approved == 0 %}
                    <div class="choreRightClaimed">Pending Approval for {{ cchore.points }}</div>
                    {% endif %}
                    {% if cchore.approved > 0 %}
                    <div class="choreRightClaimed">Approved for {{ cchore.approved }}</div>
                    {% endif %}
                    {% if cchore.approved < 0 %}
                    <div class="choreRightClaimed penalised">Penalty of {{ cchore.points }}</div>
                    {% endif %}
                </div>
            </div>
            {% if cchore.approved == 0 %}
            </form>
            {% endif %}
            {% endfor %}
        </div>

        <div class="bigblock">
            <h2>Point Log</h2>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Chore</th>
                        <th>Points Change</th>

                        <th>Reason</th>
                        <th>Approver</th>
                    </tr>
                </thead>
                <tbody>
                    {% for point_log in point_logs %}
                    <tr>
                        <td>{{ point_log.date_recorded|date:"M d, Y" }}</td>
                        <td>{{ point_log.chore }}</td>
                        <td>{{ point_log.points_change }}</td>

                        <td><pre>{{ point_log.reason }}</pre></td>
                        <td>{% if point_log.approver %}{{ point_log.approver.username }}{% else %}-{% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                <span class="step-links">
                    {% if point_logs.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ point_logs.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current-page">{{ point_logs.number }}</span>

                    {% if point_logs.has_next %}
                    <a href="?page={{ point_logs.next_page_number }}">next</a>
                    <a href="?page={{ point_logs.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>

        <div class="bigblock">
            <h2>Help / Explanation</h2>
            <ul>
                <li>Earning Points</li>
                <ul>
                    <li>Complete chores to earn points!</li>
                    <li>Some chores give bonus points if done early.</li>
                    <li>Missing a chore? Add it as a custom one for points!</li>
                </ul>
                <li>Rewards</li>
                <ul>
                    <li>Spend your points on rewards from the catalog!</li>
                </ul>
            </ul>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </div>
      </div>
    </div> 
</body>
</html>