<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Messages</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div class="page-container">
      <div class="content-wrapper">
        <div class="block">
          <h2>Messages</h2>

          {% for text in texts %}
            <div class="innerBlock" onclick="window.location.href='{% url 'edit_text' text.pk %}'">
              <div class="buttonContainer">
                <div class="choreLeft">{{ text.key }}
                  <div class="small-text description">{{ text.text|default:"(empty)" }}</div>
                </div>
                <div class="choreRightClaimed">{% if text.enabled %}Enabled{% else %}Disabled{% endif %}</div>
              </div>
            </div>
          {% endfor %}
        </div>

        <div class="block">
          <div class="innerBlock" onclick="window.location.href='{% url 'parent_profile' %}'">Return to Parents Dashboard</div>
        </div>
      </div>
    </div>
  </body>
</html>
