<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ user.username|capitalize_username }}'s Dashboard</title>
    <meta http-equiv="refresh" content="60">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    {% load extra_filters %}
    <div class="page-container">
      <div class="content-wrapper">
        <div class="container">

        <div class="bigblock">
            <h1>{{ user.username|capitalize_username }}'s Dashboard</h1>
        </div>



        {% if claimed_chores %}
        <div class="block">
            <h3>Claimed Chores Waiting for Approval</h3>
                    {% for chore_claim in claimed_chores %}
                    <div style="display: flex; flex-direction: row; align-items: stretch; gap: 10px; width: 100%;">
                        <form method="post" action="{% url 'approve_chore_claim' chore_claim.pk 0 %}" style="flex: 1; display: block;">
                            {% csrf_token %}
                            <div class="innerBlock" onclick="this.parentElement.submit()" style="width: 100%;">
                                <div class="buttonContainer">
                                    <div class="choreLeft">{{ chore_claim.user }}</div>
                                    <div>
                                        {{ chore_claim.chore_name }} 
                                        <div class="small-text description">
                                            {{ chore_claim.comment }}
                                        </div>
                                    </div>
                                
                                    <div class="choreRight">{{ chore_claim.points }}</div>
                                </div>
                            </div>
                        </form>
                    
                        <div class="innerBlock edit" id="chore-claim-modal-{{ chore_claim.pk }}">✏️
                            <div class="chore-options" id="chore-claim-options-{{ chore_claim.pk }}" style="display: none;">
                                <div class="block opaque">
                                    <form method="post" action="{% url 'approve_chore_claim' chore_claim.pk 0 %}" style="display: inline;">
                                        {% csrf_token %}
                                        <div class="innerBlock green" onclick="this.parentElement.submit()">Approve</div>
                                    </form>
                                    <form method="post" action="{% url 'approve_chore_claim' chore_claim.pk 25 %}" style="display: inline;">
                                        {% csrf_token %}
                                        <div class="innerBlock" onclick="this.parentElement.submit()">Approve with 75% Points</div>
                                    </form>
                                    <form method="post" action="{% url 'approve_chore_claim' chore_claim.pk 50 %}" style="display: inline;">
                                        {% csrf_token %}
                                        <div class="innerBlock" onclick="this.parentElement.submit()">Approve with 50% Points</div>
                                    </form>
                                    <form method="post" action="{% url 'reject_chore_claim' chore_claim.pk %}" style="display: inline;">
                                        {% csrf_token %}
                                        <div class="innerBlock red" onclick="this.parentElement.submit()">Reject</div>
                                    </form>
                                    <div class="innerBlock" onclick="dismissModal()"
                                        id="chore-claim-modal-{{ chore_claim.pk }}">Cancel</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

        </div>
        {% endif %}

        {% if available_chores %}
        <div class="block">
            <h3>New Available Chores</h3>
            
            {% for chore in available_chores %}
            <div style="display: flex; flex-direction: row; align-items: stretch; gap: 10px;">
                <form method="post" action="{% url 'toggle_availability' chore.pk %}" style="flex: 1; display: block;">
                    {% csrf_token %}
                    <div class="innerBlock" onclick="this.parentElement.submit()" style="width: 100%;">
                        <div class="buttonContainer">
                            <div class="choreLeft">{{ chore.name }}
                                <div class="small-text description">
                                    {{ chore.comment }}
                                </div>
                                <div class="small-text time">
                                    {% if chore.available_time < 0 %} Available Before {{ chore.available_time|abs_filter }}:00 {% elif chore.available_time > 0 %}
                                        Available After {{ chore.available_time }}:00
                                    {% endif %}
                                </div>
                            </div>
                            <div class="choreRight">{{ chore.points }} {% if chore.early_bonus %} ++ {% endif %}
                            </div>
                        </div>
                    </div>
                </form>
                <div class="innerBlock edit" id="chore-available-modal-{{ chore.pk }}">✏️
                    <div class="chore-options" id="chore-available-options-{{ chore.pk }}" style="display: none;">
                        <div class="block opaque">
                            <div class="innerBlock" onclick="window.location.href='{% url 'edit_chore' chore.pk %}'">
                                Edit
                            </div>
                            <form method="post" action="{% url 'toggle_availability' chore.pk %}" style="display: inline;">
                                {% csrf_token %}
                                <div class="innerBlock" onclick="this.parentElement.submit()">Make Unavailable</div>
                            </form>
                            <form method="post" action="{% url 'penalise_chore' chore.pk %}" style="display: inline;">
                                {% csrf_token %}
                                <div class="innerBlock" onclick="if(confirm('Are you sure you want to penalise this chore?')){ this.parentElement.submit(); }">Penalise Chore</div>
                            </form>
                            <form method="post" action="{% url 'delete_chore' chore.pk %}" style="display: inline;">
                                {% csrf_token %}
                                <div class="innerBlock red" onclick="if(confirm('Are you sure you want to delete this chore?')){ this.parentElement.submit(); }">Delete Chore</div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% if unavailable_chores %}
        <div class="block">
            <h3>New Unavailable Chores</h3>
            
            {% for chore in unavailable_chores %}
            <div style="display: flex; flex-direction: row; align-items: stretch; gap: 10px;">
                <form method="post" action="{% url 'toggle_availability' chore.pk %}" style="flex: 1; display: block;">
                    {% csrf_token %}
                    <div class="innerBlock" onclick="this.parentElement.submit()" style="width: 100%;">
                        <div class="buttonContainer">
                            <div class="choreLeft">{{ chore.name }}
                                <div class="small-text description">
                                    {{ chore.comment }}
                                </div>
                                <div class="small-text time">
                                    {% if chore.available_time < 0 %} Available Before {{ chore.available_time|abs_filter }}:00 {% elif chore.available_time > 0 %}
                                        Available After {{ chore.available_time }}:00
                                    {% endif %}
                                </div>
                            </div>
                            <div class="choreRight">{{ chore.points }} {% if chore.early_bonus %} ++ {% endif %}
                            </div>
                        </div>
                    </div>
                </form>
                <div class="innerBlock edit" id="chore-unavailable-modal-{{ chore.pk }}">✏️
                    <div class="chore-options" id="chore-unavailable-options-{{ chore.pk }}" style="display: none;">
                        <div class="block opaque">
                            <div class="innerBlock" onclick="window.location.href='{% url 'edit_chore' chore.pk %}'">
                                Edit
                            </div>
                            <form method="post" action="{% url 'toggle_availability' chore.pk %}" style="display: inline;">
                                {% csrf_token %}
                                <div class="innerBlock" onclick="this.parentElement.submit()">Make Available</div>
                            </form>
                            <form method="post" action="{% url 'delete_chore' chore.pk %}" style="display: inline;">
                                {% csrf_token %}
                                <div class="innerBlock red" onclick="if(confirm('Are you sure you want to delete this chore?')){ this.parentElement.submit(); }">Delete Chore</div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="block">
            <h3>Actions</h3>
            {% if daily_task_can_run %}
            <div class="innerBlock"
                onclick="if (confirm('Are you sure you want to perform this action?')) { window.location.href='{% url 'daily_action' %}' }">
                Daily Action<br><span style="font-size: smaller;">Can only be ran once per day.</span>
            </div>
            {% endif %}
            <div class="innerBlock" onclick="window.location.href='{% url 'create_chore' %}'" class="open-chore-modal">
                Create New Chore
            </div>
            <div class="innerBlock" onclick="window.location.href='{% url 'settings' %}'" class="open-chore-modal">
                Settings
            </div>
            <div class="innerBlock" onclick="window.location.href='{% url 'messages' %}'" class="open-chore-modal">
                Edit Messages
            </div>
        </div>


        <div class="block">
            <h3> Childrens Points </h3>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Points</th>
                        <th>Money</th>
                        <th>Trophies</th>
                        <th>Leaderboard</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for child in children %}
                    <tr>
                        <td>{{ child.username }}</td>
                        <td>{{ child.points_balance }}</td>
                        <td>{{ child.pocket_money }}</td>
                        <td>🏆{{ child.place_1 }} 🥈{{ child.place_2 }} 🥉{{ child.place_3 }}</td>
                        <td>
                            {% for chore in chore_points %}
                                {% if chore.user__username == child.username %}
                                {% if forloop.counter0 == 0 %}🏆{% elif forloop.counter0 == 1 %}🥈{% elif forloop.counter0 == 2 %}🥉{% endif %}
                                    {{ chore.total_points }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            <div class="innerBlock" onclick="window.location.href='{% url 'point_adjustment' child.pk %}'">Points</div>
                            <div class="innerBlock" onclick="window.location.href='{% url 'pocket_money_adjustment' child.pk %}'">Money</div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div class="bigblock">
                <h3 class="toggle" data-target="#logContent">Point Log</h3>
                <div id="logContent" style="display: none;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>User</th>
                            <th>Chore</th>
                            <th>Points Change</th>
                            <th>Penalty</th>
                            <th>Reason</th>
                            <th>Approver</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for point_log in point_logs %}
                        <tr>
                            <td>{{ point_log.date_recorded }}</td>
                            <td>{{ point_log.user.username|capitalize_username }}</td>
                            <td>{{ point_log.chore }}</td>
                            <td>{{ point_log.points_change }}</td>
                            <td>{{ point_log.penalty }} %</td>
                            <td><pre>{{ point_log.reason }}</pre></td>
                            <td>{% if point_log.approver %}{{ point_log.approver.username }}{% else %}-{% endif %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="pagination">
                    <span class="step-links">
                        {% if point_logs.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ point_logs.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current-page">{{ point_logs.number }}</span>

                        {% if point_logs.has_next %}
                        <a href="?page={{ point_logs.next_page_number }}">next</a>
                        <a href="?page={{ point_logs.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
                </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Collapsable div
        $(document).ready(function() {
            $(".toggle").click(function() {
                var target = $(this).data('target');
                $(target).toggle();
            });
        });

        // Chore Claim Modal
        function initializeChoreClaimModals() {
            document.querySelectorAll('[id^="chore-claim-modal-"]').forEach(function (modalTrigger) {
                var pk = modalTrigger.id.split('-').pop();
                var choreClaimOptions = document.getElementById('chore-claim-options-' + pk);

                modalTrigger.addEventListener('click', function (e) {
                    handleModalClick(e, choreClaimOptions);
                });

                document.querySelectorAll('#chore-claim-options-' + pk + ' a').forEach(function (option) {
                    option.addEventListener('click', function (e) {
                        handleOptionClick(e, choreClaimOptions);
                    });
                });
            });
        }

        // Chore Available Modal
        function initializeChoreAvailableModals() {
            document.querySelectorAll('[id^="chore-available-modal-"]').forEach(function (modalTrigger) {
                var pk = modalTrigger.id.split('-').pop();
                var choreAvailableOptions = document.getElementById('chore-available-options-' + pk);

                modalTrigger.addEventListener('click', function (e) {
                    handleModalClick(e, choreAvailableOptions);
                });

                document.querySelectorAll('#chore-available-options-' + pk + ' a').forEach(function (option) {
                    option.addEventListener('click', function (e) {
                        handleOptionClick(e, choreAvailableOptions);
                    });
                });
            });
        }

        // Chore Unavailable Modal
        function initializeChoreUnavailableModals() {
            document.querySelectorAll('[id^="chore-unavailable-modal-"]').forEach(function (modalTrigger) {
                var pk = modalTrigger.id.split('-').pop();
                var choreUnavailableOptions = document.getElementById('chore-unavailable-options-' + pk);

                modalTrigger.addEventListener('click', function (e) {
                    handleModalClick(e, choreUnavailableOptions);
                });

                document.querySelectorAll('#chore-unavailable-options-' + pk + ' a').forEach(function (option) {
                    option.addEventListener('click', function (e) {
                        handleOptionClick(e, choreUnavailableOptions);
                    });
                });
            });
        }

        // All Modals
        function dismissModal() {
        }

        function handleModalClick(e, choreOptions) {
            e.preventDefault();
            choreOptions.style.display = (choreOptions.style.display === 'block') ? 'none' : 'block';
        }

        function handleOptionClick(e, choreOptions) {
            e.preventDefault();
            choreOptions.style.display = 'none';
        }

        // Call the function to initialize modals when the document is ready
        document.addEventListener('DOMContentLoaded', initializeChoreUnavailableModals);
        document.addEventListener('DOMContentLoaded', initializeChoreAvailableModals);
        document.addEventListener('DOMContentLoaded', initializeChoreClaimModals);

    </script>

</body>

</html>