<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div class="auth-container">
      <div class="auth-form">
        <h1>Login</h1>
        <form method="post">
          {% csrf_token %}
          <div class="form-fields">
            {{ form.as_p }}
          </div>
          <div class="form-actions">
            <button type="submit">Login</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
